.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  margin-bottom: 130px;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #3f51b5;
  border-right: 8px solid #ff4081;
  animation: spin 1.5s linear infinite;
}

.loader::before {
  z-index: 100;
  border-top-color: #4caf50;
  border-right-color: #ffeb3b;
  animation-duration: 2s;
  animation-direction: reverse;
}

.loader::after {
  z-index: 50;
  border-top-color: #2196f3;
  border-right-color: #e91e63;
  animation-duration: 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .loader::before,
  .loader::after {
    border-width: 6px;
  }
  .loader {
    width: 50px;
    height: 50px;
  }
}